@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img{
    background-image: url(/public/images/cvi.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}